<Doctype>
    <html>
    <head>

    </head>
    <body>
        <h1>All Categories</h1>
        <a href="/categories/createcategory">Add Category</a>
        @foreach (var category in @Model)
        {
            <h3>
                Id : @category.Id ......... Name : @category.Name ............. Description: @category.Description<a href="/categories/details/@category.Id">Details</a> <a href="/categories/delete/@category.Id">Delete</a> <a href="/categories/updateview/@category.Id">Update</a>
            </h3>
        }
    </body>
</html>
</Doctype>