<Doctype>
    <html>
        <head>

        </head>
        <body>
            <h1>All Users</h1>
        @foreach (var user in @Model)
        {
            <h3>Name : @user.Name</h3>
        }
        </body>
    </html>
</Doctype>